
$webResourceManager.requireResource("ru.ath.asu.tickets:tickets-resources-menu")
$webResourceManager.requireResourcesForContext("hidelogo")
$webResourceManager.requireResourcesForContext("tickets")
$webResourceManager.requireResourcesForContext("header")


###################################################
## верхнее меню
###################################################
#parse("/templates/orders/header.vm")


<div class="buttons-wrapper">
    <div class="buttons-center-block">
        <button class="buttons-custom aui-button aui-button-primary" onclick="window.location.href = 'portalAction!default.jspa';">Выход</button>
    </div>
</div>
###################################################



<div style="margin: 10px 0 10px 0; text-align: left">

    <div style="width:  500px; margin: 0 auto;">
        <ul class="ath-main-menu">
            <li>
                <h1 style="display: block; padding-left: 40px;">Выберите раздел</h1>
            </li>
        </ul>
    </div>

    <div style="width:  500px; margin: 15px auto;">
        <ul class="ath-main-menu">
            <li><a href="ordersAction!newTicket.jspa">Создать заявку</a></li>
            <li><a href="ordersAction!activeTicket.jspa">Заявки в работе</a></li>
            <li><a href="ordersAction!archTicket.jspa">Заявки выполненные</a></li>

##            <li><a href="https://example.com/">Полезные материалы</a></li>
        </ul>
    </div>

</div>