
<div style="margin: 100px 0 200px 0; text-align: center">

    <h1>Заявки в работе</h1>

    <div class="aui" style="width: 700px; margin: 0 auto;">
        <div style="margin-top: 20px; text-align: left;">
            <label>Найти по номеру</label>
            &nbsp;
            <input style="width: 480px; padding: 5px;" type="text" id="ticket-number" name="ticket-number" placeholder="Номер заявки">
            &nbsp;
            <button class="aui-button aui-button-primary">Поиск</button>
        </div>



        <table class="aui">
            <thead>
            <tr>
                <th id="name">Name</th>
                <th id="type">Type</th>
                <th id="order">Order</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td headers="name">Default</td>
                <td headers="type">Internal Directory</td>
                <td class="order" headers="order">
                    <ul class="menu">
                        <li>
                            <a class="down" href="#">Down</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td headers="name">Corporate LDAP</td>
                <td headers="type">Microsoft Active Directory</td>
                <td class="order" headers="order">
                    <ul class="menu">
                        <li>
                            <a class="up" href="#">Up</a>
                        </li>
                        <li>
                            <a class="down" href="#">Down</a>
                        </li>
                    </ul>
                </td>
             </tr>
            </tbody>
        </table>


        <div style="margin-top: 40px; text-align: center;">
            <div class="buttons">
                <input class="aui-button aui-button-primary" type="submit" value="Создать заявку" id="comment-save-button">
                <a class="cancel" href="#">Отмена</a>
            </div>
        </div>

    </div>
</div>