
$webResourceManager.requireResource("ru.ath.asu.tickets:tickets-resources-new")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-flag")
$webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")




###################################################
## всплывающее окно в случае успеха отправки заявки
###################################################
<section id="demo-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Заявка успешно создана </h2>
##        <a class="aui-dialog2-header-close">
##            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
##        </a>
    </header>

    <div class="aui-dialog2-content">
        <div style="padding: 5px;">
            <span id="new-ticket-number" style="font-weight: bold">НОМЕР ЗАЯВКИ - xxx</span>
        </div>

        <div style="margin-top: 10px; padding: 5px;">
            Заявка помещена в активные заявки
        </div>
    </div>

    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button type="button" class="aui-button aui-button-primary" onclick="window.location.href = 'ordersAction!newTicket.jspa';">Создать еще одну заявку</button>
            <button type="button" class="aui-button aui-button-primary" onclick="window.location.href = 'ordersAction!menu.jspa';">Меню</button>
            <button type="button" class="aui-button aui-button-primary" onclick="window.location.href = 'portalAction!auth.jspa';">Выход</button>
        </div>
    </footer>
</section>




###################################################
## верхнее меню
###################################################
<div style="margin: 5px 0 0 0; text-align: center">
    <div style="width: 700px; margin: 0 auto; text-align: left;">

        <div style="float: right">
            <p>
                <button  class="aui-button aui-button-primary" onclick="window.location.href = 'ordersAction!menu.jspa';">Меню</button>
                <button  class="aui-button aui-button-primary" onclick="window.location.href = 'portalAction!auth.jspa';">Выход</button>
            </p>
        </div>

        <div style="width: 550px; font-size: 17px;">
            <span class="aui-icon aui-icon-small aui-iconfont-office-building">Insert meaningful text here for accessibility</span> ОАО Автотранспортное хозяйство
        </div>
        <div style="width: 550px; font-size: 17px;">
            <span class="aui-icon aui-icon-small aui-iconfont-location">Insert meaningful text here for accessibility</span> <span id="ticket-depart">КЧАК</span>
        </div>
        <div style="width: 550px; font-size: 17px;">
            <span class="aui-icon aui-icon-small aui-iconfont-person">Insert meaningful text here for accessibility</span> <span id="ticket-username">Иванов Иван Иванович</span>
        </div>

        <div style="display: none">
            <span id="ticket-useremail">ivanov@kchak.ru</span>
        </div>


    </div>
</div>



###################################################
## форма заявки
###################################################
<div style="margin: 30px 0 200px 0; text-align: center">

    <h1>Создать заявку</h1>

    <div id="ticket-form" class="aui" style="width: 700px; margin: 0 auto;">
        <div style="margin-top: 20px; text-align: left;">
            <label>Тема заявки</label>
            <input style="width: 690px; padding: 5px;" type="text" id="ticket-theme" name="ticket-theme" placeholder="Тема заявки" aria-controls="ticket-theme-empty">
        </div>

        <div style="margin-top: 20px; text-align: left;">
            <label>Текст заявки</label>
            <textarea style="width: 690px; height: 300px; padding: 5px;" name="ticket-text" id="ticket-text" placeholder="Наберите текст заявки здесь..."></textarea>
        </div>


        <div style="margin-top: 20px; text-align: left;">
            <label>Добавить файлы</label>
            <input style="width: 690px; border: 1px solid #d8dce1; width: 693px; padding: 5px;" type="file" id="ticket-file-upload" name="ticket-file-upload">
        </div>

        <div style="margin-top: 40px; text-align: center;">
            <div class="buttons">
##                <input class="aui-button aui-button-primary" type="submit" value="Создать заявку" id="comment-save-button">
                <button type="button" class="aui-button aui-button-primary" onclick="createticket.module.createIssue();" >Создать заявку</button>
                <a class="cancel" href="ordersAction!menu.jspa">Отмена</a>
            </div>
        </div>

    </div>
</div>