
$webResourceManager.requireResourcesForContext("tickets")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-date-picker")
$webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
$webResourceManager.requireResourcesForContext("hidelogo")
$webResourceManager.requireResourcesForContext("header")


###################################################
## всплывающее окно с описанием заявки
###################################################
<section id="demo-dialog" class="aui-dialog2 aui-dialog2-large aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 id="popupHeader" class="aui-dialog2-header-main">Заявка 00129 от 20.05.2019</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>

    <div class="aui-dialog2-content">
        <div style="padding: 5px;">
            <span id="popupSummary" style="font-weight: bold">Подключение удаленного рабочего стола с пасьянсом Паук</span>
        </div>

        <div id="popupDescription" style="margin-top: 10px; padding: 5px;">
            Подключение удаленного рабочего стола с пасьянсом ПаукПодключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом ПаукПодключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом ПаукПодключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом ПаукПодключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом ПаукПодключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом ПаукПодключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом ПаукПодключение удаленного рабочего стола с пасьянсом Паук
            Подключение удаленного рабочего стола с пасьянсом Паук
        </div>


        <div style="display: none">
            <div style="margin-top: 10px">
                <span style="font-weight: bold">Комментарии</span>
            </div>

            <div style="margin-top: 10px; padding: 5px; border-radius: 3px;">

                <div style="width: 700px; margin-bottom: 10px;">
                    <div style="width: 400px; border: 1px solid #939dac; border-radius: 5px; padding: 3px;">
                        Комментарий мой
                    </div>
                </div>
                <div style="width: 700px; text-align: right">
                    <div style="margin-left: 300px; width: 400px; text-align: right; background-color: #344562; color: #FFFFFF; border-radius: 5px; padding: 3px; ">
                        Комментарий админа
                    </div>
                </div>
            </div>
        </div>


        <div style="display: none">
            <div style="background-color: #f4f5f7; padding: 5px; width:  180px; cursor:  pointer;">
                <span class="aui-icon aui-icon-small aui-iconfont-comment">View </span> Добавить комментарий
            </div>

            <div style="margin-top: 10px; display: none">
                <textarea style="width: 500px; height: 100px;"></textarea>

                <button class="aui-button">
                    <span class="aui-icon aui-icon-small aui-iconfont-check"></span>добавить
                </button>
            </div>
        </div>


    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Закрыть</button>
        </div>
    </footer>
</section>


###################################################
## верхнее меню
###################################################

#parse("/templates/orders/header.vm")


<div class="buttons-wrapper">
    <div class="buttons-center-block">
        <button class="buttons-custom aui-button aui-button-primary" onclick="window.location.href = 'ordersAction!menu.jspa';">Меню</button>
        <button class="buttons-custom aui-button aui-button-primary" onclick="window.location.href = 'portalAction!default.jspa';">Выход</button>
    </div>
</div>



###################################################
## таблица с заявками
###################################################
<input style="display: none" name="orders-mode" value="$ordersStatus" />
<div style="margin: 30px 0 200px 0; text-align: center">

    #if($ordersStatus == "open")
        <h1>Заявки в работе</h1>
    #else
        <h1>Заявки выполненные</h1>
    #end

    <div class="aui" style="width: 800px; margin: 0 auto;">
        <div style="margin-top: 20px; text-align: center;">
            <label>Номер</label>
            &nbsp;
            <input style="width: 100px; padding: 5px;" type="text" id="ticket-number" name="ticket-number" placeholder="Номер заявки">
            &nbsp;
            &nbsp;


            <label>период с</label>
            &nbsp;
            <input class="aui-date-picker" style="padding: 5px; width: 80px" id="date-begin" type="date" />
            &nbsp;
            <label>по</label>
            &nbsp;
            <input class="aui-date-picker" style="padding: 5px; width: 80px" id="date-end" type="date" />
            &nbsp;
            &nbsp;


            <button id="searchButton" class="aui-button aui-button-primary">Поиск</button>
        </div>





        <div>

            ## заголовок таблицы
            <div style="width: 100%; font-weight: bold; margin: 20px 0 10px 10px">
                Выберите заявку
            </div>

            <div style="width: 100%; height: 30px; background-color: #0747a6; color: #FFFFFF; line-height: 29px; border-radius: 3px;">
                <div style="float: left; width: 100px">Дата</div>
                <div style="float: left; width: 100px">Номер</div>
                <div style="float: left; width: 380px">Тема заявки</div>
                <div style="float: left; width: 100px">Статус</div>
                <div style="float: left; width: 100px">Срок</div>
            </div>


            <div style="width: 100%; height: 300px; overflow-y: auto; overflow-x: hidden; background-color: #FFFFFF;">
                <table id="ticketsFromUsers" class="aui">
                    <tbody>

##                        <tr>
##                            <td class="order-created">20.05.2019</td>
##                            <td class="order-number">00129</td>
##                            <td class="order-descr">Подключение удаленного рабочего стола с пасьянсом Паук и пасьянсом косынка и сапером еще1</td>
##                            <td class="order-status">В работе</td>
##                            <td class="order-duedate">20.05.2019</td>
##                        </tr>

                    </tbody>
                </table>
            </div>


        </div>


        <div id="paginator" style="margin-top: 20px ;text-align: center">
            <ol class="aui-nav aui-nav-pagination">
                <li style="cursor: pointer; padding: 0 10px 0 10px" class="aui-nav-first"><---</li>
                <li style="cursor: pointer; padding: 0 10px 0 10px" class="aui-nav-previous"><</li>

                <li style="padding: 0 10px 0 10px">Страница</li>

                <li style="padding: 0 10px 0 10px"><input name="currpage" value="502" style="width: 40px; border: none; text-align: center; font-weight: bold;" /></li>

                <li style="padding: 0 10px 0 10px"> / </li>
                <li id="total-cnt" style="padding: 0 10px 0 10px">503</li>

                <li style="cursor: pointer; padding: 0 10px 0 10px" class="aui-nav-next">></li>
                <li style="cursor: pointer; padding: 0 10px 0 10px" class="aui-nav-last">---></li>
            </ol>
        </div>


##        <table class="aui">
##            <thead>
##            <tr>
##                <th id="name">Name</th>
##                <th id="type">Type</th>
##                <th id="order">Order</th>
##            </tr>
##            </thead>
##            <tbody>
##            <tr>
##                <td headers="name">Default</td>
##                <td headers="type">Internal Directory</td>
##                <td class="order" headers="order">
##                    <ul class="menu">
##                        <li>
##                            <a class="down" href="#">Down</a>
##                        </li>
##                    </ul>
##                </td>
##            </tr>
##            <tr>
##                <td headers="name">Corporate LDAP</td>
##                <td headers="type">Microsoft Active Directory</td>
##                <td class="order" headers="order">
##                    <ul class="menu">
##                        <li>
##                            <a class="up" href="#">Up</a>
##                        </li>
##                        <li>
##                            <a class="down" href="#">Down</a>
##                        </li>
##                    </ul>
##                </td>
##             </tr>
##            </tbody>
##        </table>


    </div>
</div>