
<div style="margin: 5px 0 0 0; text-align: center">
    <div style="width: 700px; margin: 0 auto; text-align: left;">
        <div style="width: 550px; font-size: 30px;">
            <span class="aui-icon aui-icon-large aui-iconfont-office-building">Insert meaningful text here for accessibility</span> ОАО Автотранспортное хозяйство
        </div>
        <div style="width: 550px; font-size: 30px;">
            <span class="aui-icon aui-icon-large aui-iconfont-location">Insert meaningful text here for accessibility</span> КЧАК
        </div>
        <div style="width: 550px; font-size: 30px;">
            <span class="aui-icon aui-icon-large aui-iconfont-person">Insert meaningful text here for accessibility</span> Иванов Иван Иванович
        </div>

    </div>
</div>



<div style="margin: 30px 0 200px 0; text-align: center">

    <h1>Создать заявку</h1>

    <form class="aui" style="width: 700px; margin: 0 auto;">
        <div style="margin-top: 20px; text-align: left;">
            <label>Тема заявки</label>
            <input style="width: 690px; padding: 5px;" type="text" id="ticket-theme" name="ticket-theme" placeholder="Тема заявки">
        </div>

        <div style="margin-top: 20px; text-align: left;">
            <label>Текст заявки</label>
            <textarea style="width: 690px; height: 300px; padding: 5px;" name="ticket-input" id="ticket-input" placeholder="Наберите текст заявки здесь..."></textarea>
        </div>


        <div style="margin-top: 20px; text-align: left;">
            <label>Добавить файлы</label>
            <input style="width: 690px; border: 1px solid #d8dce1; width: 693px; padding: 5px;" type="file" id="ticket-file-upload" name="ticket-file-upload">
        </div>

        <div style="margin-top: 40px; text-align: center;">
            <div class="buttons">
                <input class="aui-button aui-button-primary" type="submit" value="Создать заявку" id="comment-save-button">
                <a class="cancel" href="#">Отмена</a>
            </div>
        </div>

    </form>
</div>