
#ticketsUsers tr:hover {
    background-color: #ebecf0;
}

#ticketsUsers tr user-edit-button:hover {
    cursor: pointer;
}

.user-column-hidden {
    display: none;
}

.user-column-check {
    width: 20px;
}

.user-column-npp {
    width: 80px;
}

.user-column-login {
    width: 100px;
}

.user-column-fio {
    width: 260px;
}

.user-column-email {
    width: 80px;
}

.user-column-podr {
    width: 130px;
}

.user-column-password {
    width: 100px;
}

.user-edit-button {
    width: 30px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.user-edit-content div {
    clear: left;
    padding-top: 5px;
}

.user-edit-content div label {
    float: left;
    width: 130px;
    line-height: 30px;
}

.user-edit-content div input {
    width: 410px;
    padding: 3px;
    border: 1px solid #c1c7d0;
}
