table {
    width:100%;
    table-layout:fixed;
}
/*
.column_1 {
    padding:5px 10px;
    width: 65%;
}

.column_2 {
    padding:5px 10px;
    width: 25%;
}

.column_3 {
    padding:5px 10px;
    width: 10%;
}

*/


#ticketsFromUsers tr:hover {
    background-color: rgba(9, 30, 66, 0.08);
    cursor: pointer;
}

#ticketsFromUsers .order-created {
    padding: 5px 0;
    width: 100px;
    text-align: center;
}

#ticketsFromUsers .order-number {
    padding: 5px 0;
    width: 100px;
    text-align: center;
}

#ticketsFromUsers .order-descr {
    padding: 5px 0;
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x:  hidden;
}

#ticketsFromUsers .order-status {
    padding: 5px 0;
    width: 100px;
    text-align: left;
}

#ticketsFromUsers .order-duedate {
    padding: 5px 0;
    width: 100px;
    text-align: center;
}

#paginator li {
    padding: 0 10px 0 10px;
}