
$webResourceManager.requireResource("ru.ath.asu.tickets:tickets-resources-menu")

<div style="margin: 100px 0 200px 0; text-align: center">

    <h1>Выберите раздел</h1>

    <div style="width:  500px; margin: 20px auto;">
        <ul class="ath-main-menu">
            <li><a href="https://example.com/">Создать заявку</a></li>
            <li><a href="https://example.com/">Заявки в работе</a></li>
            <li><a href="https://example.com/">Архив</a></li>
        </ul>

        <div class="aui-nav-heading"><strong></strong></div>

        <ul class="ath-main-menu">
            <li><a href="https://example.com/">Полезные материалы</a></li>
        </ul>
    </div>

</div>