<html>
<head>
    <meta name="decorator" content="atl.admin"/>
    <meta name="admin.active.section" content="admin_plugins_menu/setup-hide-button"/>
##    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-buttons")
##    $webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:message")
    $webResourceManager.requireResourcesForContext("ticketssetup")
    $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-flag")
</head>

<body>


###################################################
## всплывающее окно для редактирования пользователя
###################################################
<section id="user-edit-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Редактировать пользователя</h2>
        <!-- Actions to render on the right of the header -->
##        <div class="aui-dialog2-header-secondary">
##            <form class="aui" action="#">
##                <input id="demo-search" class="text" type="search" name="search">
##            </form>
##        </div>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content user-edit-content">

        <input id="edituserid" type="hidden" name="edituserid">
        <input id="mode" type="hidden" name="mode">


        <div>
            <label for="editlogin">Логин</label>
            <input id="editlogin" type="text" name="login">
        </div>

        <div>
            <label for="editpass">Пароль</label>
            <input id="editpass" type="text" name="pass">
        </div>

        <div>
            <label for="editname">ФИО</label>
            <input id="editname" type="text" name="name">
        </div>

        <div>
            <label for="editemail">email</label>
            <input id="editemail" type="text" name="email">
        </div>

        <div>
            <label for="editdepart">Подразделение</label>
            <input id="editdepart" type="text" name="depart">
        </div>

    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <button id="user-edit-ok" class="aui-button aui-button-primary">ОК</button>
##            <button class="aui-button">Next</button>
            <button id="user-edit-cancel" class="aui-button aui-button-link">Отмена</button>
        </div>
        <!-- Hint text is rendered on the left of the footer -->
##        <div class="aui-dialog2-footer-hint">This is a hint.</div>
    </footer>
</section>
###################################################


###################################################
## всплывающее окно для подтверждения удаления
###################################################
<section id="delete-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Удаление пользователей</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>

    </header>
    <div class="aui-dialog2-content">
        <div id="deleted-users">
            <p>user1 user2 user3 .....</p>
        </div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="delete-dialog-confirm" class="aui-button aui-button-primary">Удалить</button>
            <button id="delete-dialog-cancel" class="aui-button aui-button-link">Отмена</button>
        </div>
    </footer>
</section>
###################################################


###################################################
## всплывающее окно для загрузки файла
###################################################
<section id="loadfile-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Загрузить пользователей</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <div id="deleted-users">
            <label for="users-file-upload">Выберите файл</label>
            <input style="width: 350px; border: 1px solid #d8dce1; padding: 5px;" type="file" id="users-file-upload" name="users-file-upload">
        </div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="loadfile-dialog-confirm" class="aui-button aui-button-primary">Загрузить</button>
            <button id="loadfile-dialog-cancel" class="aui-button aui-button-link">Отмена</button>
        </div>
    </footer>
</section>
###################################################




    <div class="aui-toolbar2" role="toolbar" style="margin-bottom: 15px;">
        <div class="aui-toolbar2-inner">
            <button id="button-add" class="aui-button">Добавить</button>
            <button id="button-del" class="aui-button">Удалить</button>
            <button id="button-load" class="aui-button">Загрузить</button>
        </div>
    </div>


    <div style="width: 1000px">

    ## заголовок таблицы

        <div style="width: 100%; height: 30px; background-color: #0747a6; color: #FFFFFF; line-height: 29px; border-radius: 3px;">
            <div style="float: left;width: 50px; text-align: center;">v</div>
            <div style="float: left; width: 100px;">№</div>
            <div style="float: left; width: 120px;">Логин</div>
            <div style="float: left; width: 280px;">ФИО</div>
            <div style="float: left; width: 100px;">email</div>
            <div style="float: left; width: 150px;">Подразделение</div>
            <div style="float: left; width: 100px;">Пароль</div>
        </div>

        <div style="width: 100%; height: 300px; overflow-y: auto; overflow-x: hidden; background-color: #FFFFFF;">
            <table id="ticketsUsers" class="aui">
                <tbody>

                    <tr>
                        <td class="user-column-check"><input type="checkbox" /></td>

                    ##  <input type="checkbox" id="scales" name="scales" checked="">
                        <td class="user-column-npp">Номер</td>
                        <td class="user-column-login">Логин</td>
                        <td class="user-column-fio">ФИО</td>
                        <td class="user-column-email">email</td>
                        <td class="user-column-podr">Подразделение</td>
                        <td class="user-column-password">Пароль</td>
                        <td>
                            <div class="user-edit-button">
                                <span class="aui-icon aui-icon-small aui-iconfont-new-edit">Edit</span>
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</body>

</html>